.s{

    color:red;
    background-color:black;

}
.t{

    padding-left:50px;
    border:3px solid red;
    margin:10px;
    background-color: pink;
    color:black;
    box-shadow:seagreen 3px 4px 5px 6px;
}
.y{
    padding-left:50px;
    border:3px solid violet;
    margin:10px;
    background-color: rgb(150, 233, 16);
    color:black;
    box-shadow:rgb(0, 14, 6) 3px 4px 5px 6px;
}
